[submodule "external/linalg"]
	path = external/linalg
	url = git@github.com:hmhuang0501/linalg.git
[submodule "external/pybind11"]
	path = external/pybind11
	url = https://github.com/pybind/pybind11.git
